extends base
block content
  .container-fluid.my-5.align-self-sm-center.col-12.col-md-6.flex-column.justify-content-center
    .about
      img(src="/img/about.jpg" alt="")
    .text-center
      h5.text-about.font-italic I AM a mern stack developer And a freelacer
      button.btn-contect Contect